<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="GetGamesPort" value="20000" />
    <add key="CreateGamePort" value="21000" />
    <add key="JoinGamePort" value="22000" />
    <add key="ServerListenerMovePort" value="23000" />
    <add key="ClientListenerMovePort" value="24000" />
    <add key="InternetMessageListenerPort" value="25000" />
    <add key="InternetMessageSenderPort" value="26000" />
    <add key="RequestGamesMessage" value="What games do you have?" />
    <add key="RequestToCreateGameMessage" value="I want to create a game!" />
    <add key="RequestJoinMessage" value="I want to join a game!" />
    <add key="PlayerJoinedMessage" value="Player 2 has joined!" />
    <add key="GameOverMessage" value="###gameover###"/>
    <add key="SuccessMessage" value="OK!" />
    <add key="FailMessage" value="NO!" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>